/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 0.9em;  /* ////20160817 was 12px */
    height:100%;
    margin:0px;
    padding:0px;
    /* text-transform:uppercase; */
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/* Above is the standard CSS for a cordova android app */
/* Below are additions for Trail2.html app. */
input[type="button"] {
    -webkit-user-select: none
}

html {
    height: 100%  /* google map, #map-canvas, seems to need 100% */
}

label {
    clear: both;
    float: left;
    padding-top: 4px;
    font-weight: 400;
    font-size: larger;
}

#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#titleHolder {
    height: 1.8em;
}
.wigo_ws_Title {
    font-size: 1.5em;
    font-weight: bold;  
}

.wigo_ws_BackIcon {
    height: 100%;
    width: auto;
    margin: 0.3em;
    margin-top: 0.1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    float: right;
}

#divOwnerId {
    width: 100%;
    float: left;
    margin-left: 5px;
}

#txbxOwnerId {
    width: 10em;
    clear: none;
    margin-left: 15px;
    margin-right: 15px;
}
#buSetOwnerId
{
    margin-right: 5px;
}
#selectSignIn {
    clear: none;
    float: right;
}

#divMode 
{
    width: 100%;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 0px;
}

/* ////2016080 #buSaveOffline, #selectMapCache, #selectFind {  removed #selectMenu */
#buSaveOffline {
    clear: none;
    float: left;
    margin-left: 10px;
    width: 20%;
}

#selectMapCache {
    width: 28%;
    height: 100%;
    float: left;
}
#selectMapCache .wigo_ws_DropDownIcon {
    left: initial;
    right: 0px;
}

/* ////20160906 
#divServerAction {
    clear: none;
    float: left;
}
*/
#buUpload, #buCancel, #buDelete {  
    /* ////20160905 #selectShare, #buUpLoad, #buDelete does not exist */
    clear: none;
    float: left;
    margin-left: 5px;
    margin-right: 10px;
}

#onlineOfflineEditBackIcon {
    height: auto;
    width: 10%;
    margin-left: 0.5em;
}

/* Bar for Share and PtAction ctrls */
#editDefineBar2 {
    height: 3em;
}
#editDefineShare {
    width: 30%;
    height: 100%;
    float: left;
} 
#editDefineShare .wigo_ws_DropDownLabel{
    /* ////20160907 position: static; */
    width: auto;
    height: 50%;
    /* ////20160907 float: left; */
    left: 0px;
}
#editDefineShare .wigo_ws_DropDownValue {
    /* ////20160906 position: static; */
    width: 70%;
    height: 50%;
    left: 0px;
    margin-top: 0.3em;
    /* ////20160906 
    clear: left;
    float: left;
    */
}
#editDefineShare .wigo_ws_DropDownIcon {
    /* ////20160906 
    position: static;
    float: right;
    */
    width: 28%;
    right: 0px;
    left: inherit;
}

#editDefinePtAction {
    width: 40%;
    height: 100%;
    margin-left: 5%;
    float: left;
}
#editDefinePtAction .wigo_ws_DropDownLabel{
    /* ////20160906 
    position: static;
    float: left;
    */
    width: auto;
    left: inherit;
    right: 24%;
    
}
#editDefinePtAction .wigo_ws_DropDownValue {
    width: auto;
    left: inherit;
    right: 22%;
    margin-top: 0.3em;
}
#editDefinePtAction .wigo_ws_DropDownIcon {
    width: 20.8%;
    right: 0px;
    left: inherit;
}


/* bar for cursors */
#editDefineCursorsBar {
    /* ////20160906 height: 3em; */ 
    height: auto;
}

#divCursors { /* ////20160906 remove divPathDescr */
    clear: both;
    float: left;
    /* ////20160906 display: none; */ /* //// show when needed */
}

/* Cursor*/
#divCursorLeft {
    clear: both;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
}
/* Cursor Center Column */
#divCursorCenter, #divCursorRight {
    clear: none;
    float:left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
}

#divCursorLeft input[type='button'], 
#divCursorCenter input[type='button'], 
#divCursorRight input[type='button'] {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-top: 8px;
}

/* Cursor Left Column */
/* ////20160905 selectPtAction no longer exists
#selectPtAction {
    clear: both;
    float: right;
}
*/

#buCursorLeft {
    clear: both;
    float: left;
}
#buCursorDown {
    clear: none;
    float: left;
}
#buCursorUp {
    clear: none;
    float: right;
}
/* Cursor Right Column*/
#buCursorRight {
    clear: none;
    float: left; 
    margin-right: 10px; 
}

/* End cursors*/
#buPtDo {
    clear: none;
    float: right;
}

/* Path Ix next / previous*/
#divPathIx {
    margin-left: 30%;
    clear: both;
    /* ////20160907 display: none; */ /* ////  show when needed. */
}
#divPathIx input[type='button'] {
    margin-left: 20px;
    margin-top: 8px;
    margin-bottom: 20px;
}
#buPtDeleteDo {
    float: left;
}


#divMode label {
    clear: both;
    float: left;
}


#divSettings {
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    z-index: 2;
    font-size: 130%;
}

#divSettings > div {
    margin-bottom: 0.07in;
}

#divSettings input {
    width: 5em;
}

#divSettings label {
    padding-top: 0px;
}

#buSettingsDone {
    margin-left: 15%;
    min-width: 5em;
}

#buSettingsCancel {
    margin-left: 2em;
}

#divPathInfo 
{
    clear: both;
    float:left;
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 0px;
}

#selectGeoPath {
    float: left;
}

/* pathDescrBar */
#pathDescrBar {
    height: 4.0em;
}
#labelPathName {
    height: 50%;
    width: 10%;
    float: left;
    /* ////20160906 dont like outline
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    */
}
#editAction {
    height: 50%;
    width: auto;
    margin-left: 2em;
    float: left;
}
#pathDescrBarBackIcon {
    height: 50%;
    width: auto;
    margin-left: 0.5em;
    margin-right: 0.5em;
    float: right;
}
#divPathName {
    height: 50%;
    width: 95%;
    clear: both;
    float: left;
}
#txbxPathName {
    clear: none;
    float: left;
    margin-right: 10px;
    height: 50%;
    width: 100%;
    /* ////20160906 dont like border
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    */
}


/* ////20160902  Div panel to overlay google map.*/
/* ////20160902 no longer used.
#panel {
    clear: both; 
    position: absolute;
    left: 20%;
    z-index: 1; 
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    ////20160816 display: none; */ /* show when needed using class wigo_ws_Show
}
 
#panel > input {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
}
#panel > label{
    float: left;
    padding-top: 10px;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: 400;
    font-size: larger;
}
#panel > select {
    float: left;
    margin-top: 10px;
}
*/

/* ////20160903 not used
#buGoToPath {
    clear: both;
}
*/

/* ////20160902 
#labelAlert {
    clear: none;
}
*/

/* Settings controls. Probably no special style.*/
.GeoTrackingOption {

}

/* ////20160805
.ErrorMsg
{
    background-color: lightpink;
    font-size: 1.4em;
}

.NormalMsg 
{
    background-color: azure;
    font-size: 1.4em;
}
*/

#modeBar {
    clear: both;
    float: left;
    font-size: 1.3em; /* ////20160805 added */
    width: 100%;
    height: 2.0em; /* ////20160815 was 30px /* Need to set in pixels because %age does given known height for Cordova Control.*/   
    margin-bottom: 0.5em;

}

#mainMenu {
    float: left;
    width: 12%;
    height: 100%;
}

/* ////20160811
#onlineModeTab, #offlineModeTab {
    cursor: pointer;
    float: left;
    width: 20%;
    height: 100%;
}
#editModeTab {
    float: left;
    width: 25%;
    height: 100%;
}
*/

#mainMenu .wigo_ws_DropDownIcon {
    /* ////20160809 use values from .wigo_ws_DropDownIcon except left.
    cursor: pointer;
    position: absolute;
    left: 0px;
    width: auto;
    height: 100%;
    */
    left: 0px;
}

#mainMenu .wigo_ws_DropDownList {
    /* ////20160805 use values from .wigo_ws_DropDownList
    position: absolute;
    top: 100%;
    left: 0px;
    */
    width: 17em;
}

/* ////$$$$ move here */
#selectMode {
    float: left;
    width: 50%;
    height: 100%;
}
#selectMode .wigo_ws_DropDownIcon {
    /* ////20160815 width: 20%;
    height: auto; 
    */
    left: inherit;
    right: 0px;
}
#selectMode .wigo_ws_DropDownValue {
    top: 0px;
    width: 80%;
    margin-left: 2%;
}

/* ////20160815 not used
#modeBar2 {
    height: 30px;
    width: 100%;
    clear: both;
    float: left;    
    font-size: 1.3em;
}
*/

#onlineOfflineEditBar {
    clear: both;
    float: left;
    height: 5.0em;
    width: 100%;
}

#divTrailInfo {
    width: 15%;
    height: 50%;
    clear: both;  /* ////20160816 added */
    float: left;  /* ////20160816 added */
    margin-right: 0.5em;
}
#divTrailInfo .wigo_ws_DropDownLabel {
    /* ////20160817 width: 78%; */
    left: 0px;
    width: inherit;
    text-align: left;
}
#divTrailInfo .wigo_ws_DropDownIcon {
    left: inherit;
    width: 70%;
    height: 50%;
    top: 50%;
    right: 20%;
}
#divTrailInfo .wigo_ws_DropDownValue {
    top: 100%;
    height: 1.3em;
    font-size: 1.3em;
    width: 20em;
}
#divTrailInfo .wigo_ws_DropDownList {
    width: 20em;
}

#onlineOfflineEditAction {
    height: 50%;
    width: 70%;
    float: left; /* ////20160816 added */
}
/* ////20160816 not used
#onlineOffLineEditSpacer {
    height: 50%;
    width: 100%;
}
*/
#onlineAction, #offlineAction {
    height: 100%;
    width: 100%
}
#onlineMyLoc {
    float: left;
}
#onlineSaveOffline {
    float: left
}
#onlineSelectFind {
    height: 100%;
    width: 50%; 
    float: left;
}
#onlineSelectFind .wigo_ws_DropDownIcon {
    left: inherit;
    right: 0px;
}
#onlineSelectFind .wigo_ws_DropDownLabel {
    left: 0px;
    width: 75%;
}


/* ////20160901 use mapMar instead
#onlineMapMenu {
    height: 100%;
    width: 10%;
    float: left;
    margin-left: 0.5em;
}
#onlineMapMenu .wigo_ws_DropDownLabel {
    width: initial;
    right: 0px;
}
#onlineMapMenu .wigo_ws_DropDownIcon {
    left: initial;
    right: 0px;
    bottom: 0px;
    height: 60%;
}
#onlineMapMenu .wigo_ws_DropDownList {
    left: initial;
    right: 0px; 
}
#onlineMapMenu .wigo_ws_DropDownListItem {
    width: 12em;    
}
*/

#mapBar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2.0em;
    z-index: 1;
}
#mapBarBtns {
    height: 100%;
    width: auto;
    float: left;
}
#mapTrackToggle, #mapPhAlertToggle {
    height: 100%;
    border: 1px solid black;
    width: 31%;
    float: right;
}
 
